<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <timestamp key="time" datePattern="yyyy-MM-dd.HH-mm-ss-SSS"/>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-5p %c{0} %M:%L > %m%n</pattern>
        </encoder>
    </appender>

    <!--appender name="File" class="ch.qos.logback.core.rolling.RollingFileAppender">

        <file>logs/sudokus.test.${time}.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>logs/sudokus.test.${time}.%i.log.zip</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>20</maxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>10MB</maxFileSize>
        </triggeringPolicy>

        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p %c{0} %M:%L > %m%n</pattern>
        </encoder>

    </appender-->

    <logger name="edu.postech.csed332" level="DEBUG">
        <appender-ref ref="Console"/>
        <!-- appender-ref ref="File"/-->
    </logger>

</configuration>
